@media (max-width: 320px) {
}
.hamburger-menu {
  /* display: block; */
  position: fixed;
  inset: 0;
  padding: 72px 24px 40px 16px;
  background-color: #fff;
  width: 100%;
}

.hamburger-menu-close {
  display: flex;
}
.hamburger-menu-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.hamburger-menu-nav-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hamburger-menu-list-item-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.hamburger-menu-adres {
  margin-bottom: 48px;
}
.hamburger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hamburger-menu-list-item:hover,
.hamburger-menu-list-item:focus {
  color: #404bbf;
  text-decoration: underline;
}
.hamburger-menu-social {
  display: flex;
  gap: 40px;
}
.hamburger-menu {
  display: none;
}
