body {
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  width: 100%;
  box-sizing: border-box;
}
/* Başlık Bölümüne ait kod burada başlıyor */
.title {
  position: sticky;
  top: 0;
  z-index: 999;
  color: #2e2f42;
  height: 56px;
  background-color: #fff;
  display: flex;
  padding: 16px;
  height: 56px;
}
.title-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 255, 0.127);
  padding-bottom: 16px;
}
.web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  /* margin: 16px 189px 16px 16px; */
}
.accent {
  color: #4d5ae5;
}
.accent-web {
  font-weight: 700;
}

.hamburger-menu-style-icon {
  width: 18px;
  height: 16px;
}
.navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: none;
}
.navigation-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  height: 24px;
  width: 261px;
}
.navigation-list-item:hover {
  color: #404bbf;
}
.nav-one::after {
  content: "";
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 20px;
}
.adres {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: none;
}
.adres-list {
  display: flex;
}
.adres-mail {
  margin-left: 332px;
}
.adres-tel {
  margin-right: 156px;
  margin-left: 40px;
}
.adres-mail:hover,
.adres-tel:hover {
  color: #404bbf;
  text-decoration: underline;
}

/* Başlık Bölümüne ait kod burada bitiyor */
/* Butonun olduğu kod burada başlıyor */
.first-field {
  width: 100%;
  height: 432px;
  background-color: #2e2f42;
  background: radial-gradient(rgba(46, 47, 66, 0.7)),
    url(../image/people-office.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-field-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-left: 52px;
  padding-right: 52px;
}
.first-field-button {
  display: flex;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.156);
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.first-field-button:hover,
.first-field-button:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* Butonun olduğu kod burada bitiyor */
/* Dört Başlıklı açıklamaların olduğu kod burada başlıyor */
.two-field {
  width: 100%;
}
.two-field-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 96px 16px;
  gap: 72px;
}
.two-field-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
.two-field-list-item h3 {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.two-field-box-svg {
  display: flex;
  padding: 24px 100px;
  margin-bottom: 8px;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}
.two-field-box-svg {
  display: none;
}
.two-field-svg {
  width: 64px;
  height: 64px;
}
/* Dört Başlıklı açıklamaların olduğu kod burada bitiyor */
/* (Our Team) kısmının olduğu kod burada başlıyor */
.three-field {
  width: 100%;
  height: 100%;
  background-color: #f4f4fd;
}
h2 {
  padding-top: 96px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.three-field-list {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
  padding-bottom: 96px;
}
.three-field-list .text-name {
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.three-field-list .text-information {
  color: #434455;
}
.three-field-list-border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
}
.three-field-list img {
  width: 264px;
  height: 260px;
}
.three-field-box {
  display: flex;
  width: 232px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.three-field-box-svg {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three-field-box-svg:hover {
  fill: #31d0aa;
}
.three-field-list li {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.three-field-list-box {
  border-radius: 2px;
}
/* (Our Team) kısmının olduğu kod burada bitiyor */
/* (Portfolio) kısmının olduğu kod burada başlıyor */
.four-field {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.four-field-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  margin-bottom: 120px;
}
.four-field-list h3 {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-name-info {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #435543;
  justify-content: flex-start;
  align-items: center;
}
.list-border {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-border-img {
  position: relative;
  overflow: hidden;
}
.list-border-hidden {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
.list-border-img:hover {
  transform: translateY(0);
}
.list-border:hover .list-border-hidden {
  transform: translateY(0);
}
.list-border:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.text-name-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  /* width: 360px;
  height: 120px; */
}
/* (Portfolio) kısmının olduğu kod burada bitiyor */
/* Son kısmın (footer) olduğu kod burada başlıyor */
.last-field {
  background-color: #2e2f42;
  width: 100%;
  display: flex;
  padding: 96px 16px;
}
.last-field-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.last-field-one {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
.last-field-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.last-two-box {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-right: 692px;
  padding-bottom: 120px;
  gap: 16px;
  width: 208px;
  height: 80px;
}
.son-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 72px;
}
.last-field-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.last-field-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-field-form {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.last-field-form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  gap: 16px;
}
.last-field-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  background-color: #2e2f42;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: #fff;
  font-family: inherit;
}
.last-field-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.last-field-form-button {
  width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  color: #fff;
}
.last-field-form-svg {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: #fff;
}
.last-field-form-button:hover {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* Son kısmın (footer) olduğu kod burada bitiyor */
/* Modal ögesinin kodu burada başlıyor */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.is-open {
  display: flex;
}
.modal {
  position: relative;
  background: #fff;
  border-radius: 4px;
  width: 288px;
  height: 623px;
  border: 2px solid red;
}
.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: #404bbf;
}
.modal-close:hover .modal-close-icon {
  fill: #fff;
}
.modal .modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e422f;
  margin: 72px 16px 16px;
}
.modal-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 256px;
  height: 336px;
  margin-right: 16px;
  margin-left: 16px;
  border: 1px solid;
}
.modal-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
}
.modal-form-input-wrapper {
  position: relative;
}
.modal-form-input::placeholder {
  font-family: inherit;
  font-size: inherit;
}
.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #34422e;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.modal-form-input:focus + .form-icon {
  border: none;
  fill: #4d5ae5;
}
.modal-form-textarea {
  width: 256px;
  height: 120px;
  resize: none;
  font-family: inherit;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.modal-form-checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid #404bbf;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-svg {
  width: 10px;
  height: 8px;
  fill: transparent;
}
.modal-form-checkbox-input {
  display: none;
}
.modal-form-checkbox-input:checked + .modal-form-checkbox-box {
  background-color: #404bbf;
}
.modal-form-checkbox-input:checked
  + .modal-form-checkbox-box
  .modal-form-checkbox-svg {
  fill: #fff;
}
.modal-form-checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 71px 59px 24px 60px;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* Modal ögesinin kodu burada bitiyor */
/* Phone tasarımı kodu burada başlıyr */
.hamburger-menu {
  display: none;
}
.hamburger-menu-close {
  /* position: absolute; */
  margin-top: 24px;
  margin-right: 24px;
  display: none;
}
/* Phone tasarım kodu burada bitiyor */
