html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 100%;
}
header {
  width: 100%;
  max-width: 100%;
}

.title-hamburger-menu {
  display: none;
}

.modal {
  display: none;
}
.is-open {
  display: block;
}
.modal.is-open {
  display: flex;
}

/* Header Bölümü Kodu burada başlıyor */
.title-wrapper {
  width: 100%;
  max-width: 100%;
}
.title {
  width: 100%;
  max-width: 100%;
  height: 56px;
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
}
.title-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.title-logo-two {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.hamburger-menu-icon {
  width: 18px;
  height: 16px;
}
/* Hamburger Menu Kodu burada başlıyor */
.title-wrapper {
  width: 100%;
  max-width: 100%;
}
.title-hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* ekranın tamamını kapla */
  height: 100vh; /* tam ekran yüksekliği */
  background-color: #fff;
  z-index: 1000;
  overflow-y: auto;
  padding: 24px 16px;
  display: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); /* açıkken */
}

body:not(.menu-open) .title-hamburger-menu {
  transform: translateX(100%); /* kapalıyken sağa kayar */
}
.title-hamburger-menu-close {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close-button-icon {
  width: 8px;
  height: 8px;
}
.title-hamburger-menu-close:hover {
  background-color: #404bbf;
}
.title-hamburger-menu-close:hover .modal-close-button-icon {
  fill: #fff;
}
body.menu-open {
  overflow: hidden;
}
/* Sadece hamburger menüyü göster, header içindeki diğer her şeyi gizle */
body.menu-open .title-wrapper > :not(#title-hamburger-menu) {
  display: none;
}
/* Sayfanın geri kalanını gizle */
body.menu-open main,
body.menu-open footer {
  display: none;
}
.nav-menu {
  padding: 72px 153px 168px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-menu-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-menu-list-two {
  color: #404bbf;
}
.adres-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 16px;
}
.adres-menu-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.adres-menu-list:hover {
  color: #4d5ae5;
  text-decoration: underline;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 48px;
  padding-left: 16px;
  padding-bottom: 40px;
}
.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-icon {
  width: 40px;
  height: 40px;
  fill: #404bbf;
}
.social-media-list:hover .social-media-icon {
  fill: #31d0aa;
}
/* Hamburger Menu kodu burada bitiyor */
/* Header Bölümü kodu burada bitiyor */
/* Arka plan resminin olduğu kod burada başlıyor */
.part-one {
  width: 100%;
  max-width: 100%;
  height: 432px;
  background-image: radial-gradient(rgba(46, 47, 66, 0.7)),
    url(../image/people-office.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 88px;
}
.part-one-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: 52px;
  margin-right: 52px;
}
.part-one-button {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.part-one-button:hover {
  background-color: #404bbf;
}
/* Arka plan resminin olduğu kod burada bitiyor */
/* 4 başlıklı bölümün olduğu kod burada başlıyor */
.part-two {
  padding: 96px 16px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.part-two-list {
  background: rgba(0, 0, 0, 0.2);
}
.part-two-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.part-two-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* 4 başlıklı bölümün olduğu kod burada bitiyor */
/* Our Team kısmının olduğu kod burada başlıyor */
.part-three-wrapper {
  background: #f4f4fd;
  max-width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}
.part-three {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.part-three-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.part-three-list {
  margin-left: 16px;
  margin-right: 16px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  display: flex;
  flex-direction: column;
}
.part-three-list-img {
  width: 264px;
  height: 260px;
}
.part-three-list-text {
  width: 264px;
  height: 168px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.part-three-list-text-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.part-three-list-text-information {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.part-three-list-social-media {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Our Team kısmının olduğu kod burada bitiyor */
/* Portfolio kısmının olduğu kod burada başlıyor */
.part-four {
  padding: 96px 16px;
}
.part-four-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.part-four-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.part-four-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.part-four-list:hover .part-four-list-hidden {
  transform: translateY(0);
}
.part-four-list-img {
  position: relative;
  overflow: hidden;
}
.part-four-list-img:hover {
  transform: translateY(0);
}
.part-four-list-hidden {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
.part-four-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.part-four-list-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
/* Portfolio kısmının olduğu kod burada bitiyor */
/* Footer bölümü kodu burada başlıyor */
.part-five {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  padding: 96px 16px;
  gap: 72px;
}
.part-five-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.part-five-logo-title-two {
  color: #f4f4fd;
}
.part-five-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.part-five-social-media-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.part-five-social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.part-five-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.part-five-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.part-five-contacts-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.part-five-contacts-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: #2e2f42;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  color: #fff;
  font-family: inherit;
}
.part-five-contacts-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: inherit;
  opacity: 0.6;
}
.part-five-contacts-button {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border: none;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.part-five-contacts-button-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.part-five-contacts-button:hover {
  background: #404bbf;
}
/* Footer bölümü kodu burada bitiyor */
/* Modal ögesinin kodu burada başlıyor */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  max-width: 100%;
  margin: 0 auto;
}
.modal-wrapper {
  position: relative;
  border-radius: 4px;
  width: 288px;
  height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
}
.modal-close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover {
  background-color: #404bbf;
}
.modal-close-button:hover .modal-close-button-icon {
  fill: #fff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e422f;
  margin: 72px 24px 16px;
}
.modal-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  margin: 16px 24px;
}
.modal-form-wrapper {
  display: flex;
  flex-direction: column;
}
.modal-form-wrapper-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-input-wrapper {
  position: relative;
}
.modal-form-wrapper-input::placeholder {
  font-family: inherit;
  font-size: inherit;
}
.modal-form-wrapper-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-wrapper-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #34422e;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-wrapper-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.modal-form-wrapper-input:focus + .modal-form-wrapper-icon {
  border: none;
  fill: #4d5ae5;
}
.modal-form-textarea {
  width: 256px;
  height: 120px;
  resize: none;
  font-family: inherit;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.modal-form-input-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.modal-form-checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid #404bbf;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-svg {
  width: 10px;
  height: 8px;
  fill: transparent;
}
.modal-form-checkbox-input {
  display: none;
}
.modal-form-checkbox-input:checked + .modal-form-checkbox-box {
  background-color: #404bbf;
}
.modal-form-checkbox-input:checked
  + .modal-form-checkbox-box
  .modal-form-checkbox-svg {
  fill: #fff;
}
.modal-form-checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 24px 59px 24px 60px;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.modal-form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
/* Modal ögesinin kodu burada bitiyor */
